# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Logs
logs/
prediction_log.csv

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db